body{
  background-repeat: no-repeat;
  background-image: linear-gradient(to top right,#f5c7f7 ,#b6e1e0);
  height:100%;
}
html{
  height:100%;
  text-align:center;
}
#MainHead{
  font-size: 60px;
  margin-top:30px;
  margin-bottom:30px;
}
#PageFooter{
  margin-top:100px;
  color:red;
}
#Content{
  margin-top:30px;
}
#btnHealthPage{
  background-image: linear-gradient(to bottom left,#f5c7f7,#b6e1e0);
  font-size:18px;
  padding:25px;
  margin-right:100px;
}
#btnEduGame{
  background-image: linear-gradient(to bottom left,#f5c7f7,#b6e1e0);
  font-size:18px;
  padding:25px;
  margin-top:20px;
  margin-right:77px;
  margin-left:-77px;
  }
#btnInterCalc{
  background-image: linear-gradient(to bottom left,#f5c7f7,#b6e1e0);
  font-size:18px;
  padding:25px;
}
#btnSearchEng{
  background-image: linear-gradient(to bottom left,#f5c7f7,#b6e1e0);
  font-size:18px;
  margin-top:20px;
  padding:25px;
  margin-left:30px;
  margin-right:-40px;
}
#lblSuggestions{
  font-size:20px;
}